body {
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #464646;
}

.page-caption {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000;
}

.section-title {
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000;
}
